* {
  margin: 0;
  padding: 0;
}
body,
html {
  margin: 0;
  padding: 0;
}

.main_wrapper {
  background: black;
  height: 228vh;
}

.navbar-nav {
  margin-left: auto;
  font-size: 20px;
  margin-right: 200px;
}
.nav-link {
  transition: 0.2s;
}
.nav-link:hover {
  border-bottom: 2px solid #d3a907;
}
.h1_txt {
  font-size: 50px;
  padding-top: 120px;
}
.btn-Login {
  border: 1px solid none;
  width: 80px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 300px;
}
.pass-img {
  width: 20%;
}
.pass1-img {
  width: 50px;
}
.popup {
  display: none;
  position: fixed;
  top: 40%;
  left: 65%;
  transform: translate(-40%, -40%);
  padding: 20px;
}
.Form1 {
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18), 0 4px 10px rgba(0, 0, 0, 0.258);
  border: 1px solid #ccc;
  width: 600px;
  background: #000;
  justify-content: center;
}
.Form2 {
  color: white;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18), 0 4px 10px rgba(0, 0, 0, 0.258);
  border: 1px solid #ccc;
  width: 400px;
  background: black;
  justify-content: center;
}
.hostel_img {
  width: 200px;
  position: relative;
}

.form-horizontal {
  border-radius: 8px;
  border: 1px solid white;
  box-sizing: border-box;
  width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16), 0 4px 10px rgba(0, 0, 0, 0.23);
}
.form-group {
  margin-bottom: 15px;
}
.table {
  border-radius: 8px;
  border: 1px solid white;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16), 0 4px 10px rgba(0, 0, 0, 0.23);
}
.circle {
  width: 80px;
  height: 120px;
  border-radius: 0 12rem 12rem 0;
  background: white;
  border: 1px solid;
  position: relative;
  right: 15px;
}
[name="food-items"] {
  display: none;
}
