* {
  margin: 0px;
  padding: 0px;
}

.Form1 {
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18), 0 4px 10px rgba(0, 0, 0, 0.258);
  border: 1px solid #ccc;
  width: 600px;
  background: black;
}
.form-content {
  justify-content: center;
  position: relative;
  left: 250px;
  top: 80px;
}
.hostel_img {
  width: 200px;
  position: relative;
  margin-top: 50px;
}

.main-wrapper {
  background: black;
  height: 150vh;
}

.pass-img {
  width: 50px;
  position: relative;
}
.form-control {
  margin-left: 80px;
}
